<div class="container-fluid">
  <div class="custom-deck-container d-flex justify-content-center">
    <div id="image-boxes" >
      <% 12.times do %>
        <div class="box"></div>
      <% end %>
    </div>
  </div>
</div>
<h1 class="center-text">Choose your card</h1>
<div class="container-fluid">
  <div class="custom-container d-flex justify-content-center">
    <div id="image-list" class="spacing">
      <% @random_images.each do |image| %>
        <div class="image-item" data-image-url="<%= image.url %>">
          <% if image.url.starts_with?('http') %>
            <%= image_tag(image.url) %>
          <% else %>
            <%= image_tag(image.short_name) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>





<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>